@model Escuela;

@{
    ViewData["Title"] = "Informaci칩n Escuela";
}

<section>
    <h1>Bienvenido a la Escuela: </h1>

    <h2>Informaciones de la Escuela</h2>
    <ul>
        <li>Nombre: @Model.Name </li>
        <li>Direcci칩n: @Model.Direction</li>
        <li>A침o de fundaci칩n: @Model.annoFoundation</li>
    </ul>
</section>